
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    	

</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- website meta -->
<!-- 
  set website Info 
-->
<meta name="description" content="website description goes here">
<meta name="keywords" content="website keywork goes here">
<meta name="author" content="ALPHA D"> 
<!-- 
  set Website Title 
-->
<title>Ugarit - AlphaD UI</title>
</head>
<body class="background">
<!-- page -->
<div class="page-container">
  <!-- ======================
   right side
  ======================= -->
  <div class="right-side">
    <!-- wall -->
      <div class="wall" data-simplebar>
  <app-recipe-item></app-recipe-item>
      </div><!-- / .section -->
	  </div><!-- / .wall -->
      <!-- ======================
   left side
  ======================= -->
  <div class="left-side">
    <!-- brand -->
    <div class="brand">
<app-recipe-detail></app-recipe-detail>
    </div>
  </div><!-- / .left-side -->
</div><!-- / .page-container -->
</body>
</html>
